<div class="row d-flex">
    <div class="card p-1 m-1 bg-{{color}} bg-opacity-10 border border-{{color}} rounded-end">
        <div class="card-header">
            <h5>{{i.title}}</h5>
        </div>
        <div class="card-body p-1">
            <div class="d-flex col">
                <div class="d-flex col">
                    <div class="badge bg-{{color}} justify-content-center d-flex align-items-center p-2">
                        {{data.request_type}}
                    </div>
                    <h6 class="justify-content-center d-flex align-items-center fw-semibold p-0 m-0 mx-3">
                        {{data.request}}
                    </h6>
                </div>
                <div class="mx-3">
                    <a class="btn btn-secondary btn-sm" href="{% url 'apifrontend_endpoint' data.slug %}">
                        Check it&nbsp;<i class="bi bi-caret-right-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>