#main_header{
    align-items: center;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
#main_nav-head{
    display: flex;
    flex-direction: row;
    padding: 6px 10px;
    background: linear-gradient(90deg,rgba(89, 18, 130), #A626D3);
    background-color: rgba(89, 18, 130);
    box-shadow: 0px 2px 6px rgba(214, 110, 110, 0.3);
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    height: 60px;
}
#main_nav-head > #main_div-nav> img{
    height: 100%;
    max-width: 40px;
    border-radius: 4px;
    margin-right: 7px;
}
#main_nav-head > #main_div-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
#main_div-nav2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
#main_div-nav2 > p {
    padding: 0px;
    margin: 0px;
    margin-left: 14px;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 450px) {
    #main_div-nav2 > p {
        margin-left: 6px;
        font-size: small;
    }
    #main_nav-head> #main_div-nav > h3 {
        font-size: 20px;
    }
    #main_nav-head > #main_div-nav> img{
        max-width: 35px;
    }
    #main_nav-head{
        height: 50px;
    }
    #main_div-nav2{
        margin-right: 1px;
    }
}
