<footer style="padding-top: 0px;" id="footer" class="footer">
    {% include 'frontend/base/footer_det/social.html' %}
    {% comment %} {% include 'frontend/base/footer_det/connect_links.html' %} {% endcomment %}
    <hr style="color: #4a78cd;" class="my-1">
    <section>
      <div class="copyright">
        &copy; Copyright <strong><span>{{site_name}}</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">venkat</a>
      </div>
    </section>
</footer>